*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.topbar{
  display: flex;
  width: 100%;
  gap: 24px;
  height: 150px;
  margin: 32px 0;
}

.topbar > div{
  flex: 0 1 33.33%;
}
.banner{
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("./images/banner.png");
  height: 100%;
  background-size: 100%, 100%;
  background-position: center, center;
  color: white;
}
.card span.title{
  font-size: 50px;
  font-weight: 600;
  display: flex;
}
.card span.heading{
  font-weight: 600;
  margin-bottom: 12px;
  display: flex;
}
.card{
  border-radius: 8px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}